{% load django_bootstrap5 %}
<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BLOG</title>

    {% bootstrap_css %}
    {% bootstrap_javascript %}

</head>
<body class="vh-100">
    <div class="d-flex align-content-between flex-column h-100">
        <diV class="d-flex justify-content-between m-1">
            <div class="mx-1">ICON LOG | PY BLOG</div>
            <div>
                <a href="/blog/new/" class="btn btn-sm btn-success">글쓰기</a>
                <span class="mx-1">PROFILE</span>
            </div>
        </diV>

        <diV class="m-2">
            {% block content %}
            {% endblock %}
        </diV>

        <div class="mt-auto">
            &copy; 2024. 파이썬 템플릿 상속
        </div>
    </div>
</body>
</html>