{% extends "pylog/base.html" %}

{% block content %}
    <ol class="list-inline ">
    {% for post in post_list %}
        <li>
            <a href="/blog/{{ post.blog_no }}">{{ post.title }}</a>
        </li>
    {% endfor %}
    </ol>

    <br/>
    <div class="d-flex justify-content">
        <form action="/blog/" method="GET" >
            <label for="title" class="form-label">Search</label>
            <input id="title" type="text" name="title" placeholder="title" class="form-control" />
            <input type="submit" value="Search" />
        </form>
    </div>
    <a href="/blog/new/" class="btn btn-md btn-success m-2">Write Blog</a>
{% endblock %}