{% extends "pylog/base.html" %}

{% block content %}

    <ol class="list-inline ">
    {% for post in post_list %}
        <li>
            <a href="/blog/{{ post.blog_no }}">{{ post.title }}</a>
        </li>
    {% endfor %}
    </ol>

    <br/>
    <form action="/blog/" method="GET" >
        <label for="title"></label>
        <input id="title" type="text" name="title" placeholder="title" />
        <input type="submit" value="검색" />
    </form>
    <a href="/blog/new/">Write Blog</a>
{% endblock %}