<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="content">
    <script th:replace="~{fragments/util-script::common}"></script>

    <div class="w-100 text-center justify-content-center">
        <div class="col-md-8 col-sm-12 m-auto px-2 bg-white">
            <div class="sticky-top bg-white d-flex flex-column">
                <div class="text-start d-flex flex-row justify-content-between">
                    <div>
                        <th:block th:replace="~{fragments/fun-bottom::top-button}"></th:block>
                        <th:block th:replace="~{fragments/fun-bottom::bottom-button}"></th:block>
                        <th:block th:replace="~{fragments/fun-bottom::home-button}"></th:block>
                        <th:block th:replace="~{fragments/fun-bottom::sort-button}"></th:block>

                    </div>
                    <div>
                        <label for="select-date"></label>
                        <input class="" type="date" id="select-date" />
                    </div>
                    <div>
                        <th:block th:replace="~{fragments/fun-bottom::refresh-button}"></th:block>
                        <th:block th:replace="~{fragments/fun-bottom::debug-button}"></th:block>
                        <!--                        <th:block th:replace="~{fragments/fun-bottom::restart-button}"></th:block>-->
                        <!--                        <th:block th:replace="~{fragments/fun-bottom::reservation-append}"></th:block>-->
                    </div>
                </div>
                <div class="d-flex flex-row justify-content-between border-bottom m-1 border-5 border-bottom border-secondary">
                    <div class="text-uppercase fs-2">PMS</div>
                    <div class="text-uppercase fs-2">RMS (외부 벤더)</div>
                </div>
            </div>

            <ul class="list-unstyled d-flex flex-column" id="contents__reservation-list">
                <th:block th:each="i : ${#numbers.sequence(0, count)}">
                    <li th:id="|seq-no-${i}|" th:text="${{i}}"  class="visually-hidden"></li>
                </th:block>
            </ul>

            <!--            <ul class="list-unstyled" id="contents__reservation-list">-->
            <!--                <th:block th:each="i : ${#numbers.sequence(count, 0)}">-->
            <!--                    <li th:id="|seq-no-${i}|" th:text="${{i}}"  class="visually-hidden"></li>-->
            <!--                </th:block>-->
            <!--            </ul>-->
        </div>
    </div>





    <th:block th:replace="~{fragments/util-script::date}"></th:block>

    <script>
        const $dateInput = document.querySelector("#select-date");

        let date = new Date("[[${date}]]");

        $dateInput.value = dateOnlyFormat(date);
        $dateInput.max = dateOnlyFormat(new Date());

        $dateInput.onchange = (event) => {
            let url = "[[@{/monitoring/home/log}]]";

            if (dateOnlyFormat(new Date()) === dateOnlyFormat(new Date(event.target.value))) {
                url = "[[@{/monitoring/home}]]";
            }

            const param = "?date=" + event.target.value;

            location.replace(url + param);
        }
    </script>


    <script type="application/javascript" th:inline="javascript">
        (function () {
            let reservations = [[${reservations}]];
            let rooms = [[${rooms}]];

            for (var roomItem of rooms) {
                let element = document.querySelector("#seq-no-" + roomItem.seqNo);
                element.classList.remove("visually-hidden");
                element.innerHTML =
                    `<div class="d-flex justify-content-end px-2 pb-1">
                        <div class="border border-1 border-warning rounded-4 text-end w-75">
                            <div class="bg-secondary-subtle rounded-4 text-danger p-1">${dateFormat(roomItem.createdAt)}<span class="badge mx-1 ${roomItem.status === 'SUCCESS' ? 'bg-success' : 'bg-danger' }">${roomItem.status}</span>
                            </div>
                            <div class="p-2">
                                &nbsp/&nbsp
                                <strong>${roomItem.roomCleanStatus}</strong>
                                <strong>&nbsp/&nbsp</strong>
                                <strong class="pr-2">${roomItem.roomStatus}</strong>
                                <span class="badge bg-dark text-white mx-1">${roomItem.roomNo}</span>
                                <br/>
                                <div class="debug-message visually-hidden">${roomItem.message}</div>
                            </div>
                        </div>
                    </div>`;
            }

            for (var reservationItem of reservations) {
                let element = document.querySelector("#seq-no-" + reservationItem.seqNo);
                element.classList.remove("visually-hidden");
                element.innerHTML =
                    `<div class="d-flex justify-content-start px-2 pb-1">
                        <div class="border border-1 border-warning rounded-4 text-start w-75">
                            <div class="bg-secondary-subtle rounded-4 text-danger p-1">
                                <span class="badge mx-1 ${reservationItem.status === 'SUCCESS' ? 'bg-success' : 'bg-danger' }">${reservationItem.status}</span>${dateFormat(reservationItem.createdAt)}
                            </div>
                            <div class="p-2">
                                <span class="badge bg-dark text-white mx-1">${reservationItem.roomNo}</span>
                                <strong>${reservationItem.reservationStatus}</strong>
                                <br/>
                                <div class="debug-message visually-hidden">${reservationItem.message}</div>
                            </div>
                        </div>
                    </div>`;
            }

            const vh = document.querySelectorAll("#contents__reservation-list > .visually-hidden");
            vh.forEach(v => v.remove())

            if (getSortLocalStorage() === UP_STREAM) {
                const v = document.querySelector("#contents__reservation-list")
                v.classList.remove("flex-column");
                v.classList.add("flex-column-reverse");
            }
        })()
    </script>

    <script type="application/javascript" th:inline="javascript">
        (function() {
            let today = new Date()
            let nextTime = new Date(today);
            nextTime.setDate(today.getDate() + 1)
            nextTime.setHours(0);
            nextTime.setMinutes(10);
            nextTime.setSeconds(0);

            let milliseconds = nextTime - new Date();

            console.debug(`Today : `, dateFormat(new Date()));
            console.debug(`Next Day : `, dateFormat(nextTime));
            console.debug(`Timer : `, milliseconds);

            timer_val = setTimeout(() => {
                window.location.assign("/monitoring/home");
            }, Math.max(milliseconds, 1000 * 60 * 30));
        })();
    </script>
</th:block>>

</html>