<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="bottom-button">
    <button class="rounded-5 btn btn-sm btn-outline-dark bottom-btn">BOTTOM</button>


    <script>
        const $bottomBtn = document.querySelector(".bottom-btn");
        $bottomBtn.onclick = () => {
            window.scrollTo({
                top: document.body.scrollHeight, // <- 페이지 총 Height
                behavior: "smooth"
            });
        }
    </script>
</th:block>

<th:block th:fragment="top-button">
    <button class="rounded-5 btn btn-sm btn-outline-dark top-btn">TOP</button>


    <script>
        const $topBtn = document.querySelector(".top-btn");
        $topBtn.onclick = () => {
            window.scrollTo({
                top: document.body.scrollTop, // <- 페이지 총 Height
                behavior: "smooth"
            });
        }
    </script>
</th:block>

<th:block th:fragment="refresh-button">
    <button class="rounded-5 btn btn-sm btn-outline-dark refresh-btn" value="on">Refresh Off</button>
<!--    <strong class="refresh-time"></strong>-->


    <th:block th:replace="~{fragments/util-script::date}"></th:block>
    <script>
        let timer_val = null;

        // const $refreshTime = document.querySelector(".refresh-time");
        // $refreshTime.textContent = dateFormat_minute(new Date());

        const $refreshBtn = document.querySelector(".refresh-btn");
        time_run($refreshBtn);

        console.log($refreshBtn);
        $refreshBtn.onclick = function(value) {
            time_run(value.target);
        }

        function time_run(time_el) {
            if (time_el.value === 'on') {
                timer_val = setTimeout(() => {
                    location.reload(true);
                }, 1000 * 60 * 4);

                time_el.value = 'off';
                time_el.classList.remove('btn-dark');
                time_el.classList.add('btn-outline-dark');
                time_el.textContent='Refresh On'
            } else {
                clearTimeout(timer_val);

                time_el.value = 'on';
                time_el.classList.remove('btn-outline-dark');
                time_el.classList.add('btn-dark');
                time_el.textContent='Refresh Off'
            }
        }

        let bottom = setTimeout(() => {
            window.scrollTo({
                top: document.body.scrollHeight, // <- 페이지 총 Height
                behavior: "smooth"
            });
        }, 1000 * 60 * 3);
    </script>
</th:block>

<th:block th:fragment="debug-button">
    <button type="button" class="rounded-5 btn btn-sm btn-outline-dark debug-btn" value="off">Debug On</button>

    <script>
        const $debugBtn = document.querySelector(".debug-btn");
        $debugBtn.onclick = (event) => {
            const { target:el } = event

            if (el.value === 'on') {
                document.querySelectorAll(".debug-message").forEach((el) => {
                    el.classList.add('visually-hidden');
                });

                el.classList.remove('btn-dark');
                el.classList.add('btn-outline-dark');
                el.value = 'off';
                el.textContent='Debug On'
            } else {
                document.querySelectorAll(".debug-message").forEach((el) => {
                    el.classList.remove('visually-hidden');
                });

                el.classList.remove('btn-outline-dark');
                el.classList.add('btn-dark');
                el.value = 'on';
                el.textContent='Debug Off'
            }
        }
    </script>
</th:block>

<th:block th:fragment="restart-button">
    <button type="button" class="rounded-5 btn btn-sm btn-danger restart-btn text-dark" value="off">
        <strong>Restart</strong>
    </button>


    <script>
        const $restartBtn = document.querySelector(".restart-btn");
        $restartBtn.onclick = () => {
            restart();
        }

        async function restart() {
            await fetch("http://localhost:8080/monitoring/run/service");
        }
    </script>
</th:block>





<!-- 제거 -->

<th:block th:fragment="reservation-append">

    <!--    <form action="get" onsubmit="sss(event)">-->

    <!--        <button type="submit" >추가</button>-->
    <!--    </form>-->



    <script>
        // async function sss(e) {
        //     // e.preventDefault();
        //     const $reservationList = document.querySelector("#reservation-list");
        //
        //     const reservationRes = await fetch("http://localhost:8080/monitoring/list");
        //     const reservation = await reservationRes.json();
        //
        //
        //     const roomRes = await fetch("http://localhost:8080/monitoring/room/list");
        //     const room = await roomRes.json();
        //
        //     let pReservation = 0;
        //     let pRoom = 0;
        //     let renderTarget = 'reservation';
        //
        //     let html = '';
        //     while (true) {
        //         if (reservation.length <= pReservation && room.length <= pRoom) {
        //             break;
        //         } else if (reservation.length <= pReservation) {
        //             renderTarget ='room'
        //             pRoom++;
        //         } else if (room.length <= pRoom) {
        //             renderTarget ='reservation'
        //             pReservation++;
        //         } else {
        //             selectedReservation = reservation[pReservation];
        //             selectedRoom = room[pRoom];
        //
        //             if (selectedReservation.seqNo < selectedRoom.seqNo) {
        //                 renderTarget = 'reservation';
        //                 pReservation++;
        //             } else {
        //                 renderTarget = 'room';
        //                 pRoom++;
        //             }
        //         }
        //
        //         if (renderTarget === 'reservation') {
        //             html +=
        //                 `<li><div class="d-flex justify-content-start px-2 pb-1">
        //                 <div class="border border-1 border-warning rounded-4 text-start w-75">
        //                     <div class="bg-secondary-subtle rounded-4 text-danger p-1"><span
        //                         class="badge bg-success mx-1">${selectedReservation.status}</span>${dateFormat(selectedReservation.createdAt)}</div>
        //                     <div class="p-2">
        //                         <span class="badge bg-dark text-white mx-1">${selectedReservation.roomNo}</span>
        //                         <strong>${selectedReservation.reservationStatus}</strong>
        //                     </div>
        //                 </div>
        //             </div></<li>`;
        //         } else {
        //             html +=
        //                 `<li><div class="d-flex justify-content-end px-2 pb-1">
        //                 <div class="border border-1 border-warning rounded-4 text-end w-75">
        //                     <div class="bg-secondary-subtle rounded-4 text-danger p-1">${dateFormat(selectedRoom.createdAt)}<span class="badge bg-success mx-1">${selectedRoom.status}</span></div>
        //                     <div class="p-2">
        //                         <strong>${selectedRoom.roomCleanStatus}</strong>
        //                         <strong>&nbsp/&nbsp</strong>
        //                         <strong class="pr-2">${selectedRoom.roomStatus}</strong>
        //                         <span class="badge bg-dark text-white mx-1">${selectedRoom.roomNo}</span>
        //                     </div>
        //                 </div>
        //             </div></<li>`;
        //         }
        //     }
        //
        //     $reservationList.innerHTML += html;
        // }
    </script>
</th:block>

</html>