<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="bottom-button">
    <button class="rounded-5 btn btn-sm btn-outline-dark bottom-btn">Bottom</button>


    <script>
        const $bottomBtn = document.querySelector(".bottom-btn");
        $bottomBtn.onclick = () => {
            window.scrollTo({
                top: document.body.scrollHeight, // <- 페이지 총 Height
                behavior: "smooth"
            });
        }
    </script>
</th:block>

<th:block th:fragment="top-button">
    <button class="rounded-5 btn btn-sm btn-outline-dark top-btn">Top</button>


    <script>
        const $topBtn = document.querySelector(".top-btn");
        $topBtn.onclick = () => {
            window.scrollTo({
                top: document.body.scrollTop, // <- 페이지 총 Height
                behavior: "smooth"
            });
        }
    </script>
</th:block>

<th:block th:fragment="refresh-button">
    <button class="rounded-5 btn btn-sm btn-outline-dark refresh-btn" value="on">Refresh Off</button>


    <th:block th:replace="~{fragments/util-script::date}"></th:block>
    <script type="application/javascript" th:inline="javascript">
        let timer_val = null;

        const $refreshBtn = document.querySelector(".refresh-btn");
        time_run($refreshBtn);

        $refreshBtn.onclick = function(value) {
            time_run(value.target);
        }

        function time_run(time_el) {
            if (time_el.value === 'on') {
                timer_val = setTimeout(() => {
                    window.location.assign("/monitoring/home");
                }, 1000 * 60 * 60 * 6);

                time_el.value = 'off';
                time_el.classList.remove('btn-dark');
                time_el.classList.add('btn-outline-dark');
                time_el.textContent='Refresh On'
            } else {
                clearTimeout(timer_val);
                console.log("Refresh Off")

                time_el.value = 'on';
                time_el.classList.remove('btn-outline-dark');
                time_el.classList.add('btn-dark');
                time_el.textContent='Refresh Off'
            }
        }
    </script>
</th:block>

<th:block th:fragment="debug-button">
    <button type="button" class="rounded-5 btn btn-sm btn-outline-dark debug-btn" value="off">Debug On</button>

    <script type="application/javascript" th:inline="javascript">
        const $debugBtn = document.querySelector(".debug-btn");
        $debugBtn.onclick = (event) => {
            const { target:el } = event

            if (el.value === 'on') {
                document.querySelectorAll(".debug-message").forEach((el) => {
                    el.classList.add('visually-hidden');
                });

                el.classList.remove('btn-dark');
                el.classList.add('btn-outline-dark');
                el.value = 'off';
                el.textContent='Debug On'
            } else {
                document.querySelectorAll(".debug-message").forEach((el) => {
                    el.classList.remove('visually-hidden');
                });

                el.classList.remove('btn-outline-dark');
                el.classList.add('btn-dark');
                el.value = 'on';
                el.textContent='Debug Off'
            }
        }
    </script>
</th:block>

<th:block th:fragment="home-button">
    <button type="button" class="rounded-5 btn btn-sm btn-outline-dark home-btn">Home</button>

    <script type="application/javascript" th:inline="javascript">
        const $homeBtn = document.querySelector(".home-btn");
        const url = "/monitoring/home";

        $homeBtn.onclick = () => {
            window.location.assign(url);
        }
    </script>
</th:block>

<th:block th:fragment="sort-button">
    <button type="button" class="rounded-5 btn btn-sm btn-outline-dark text-dark sort-btn" value="down">
        <strong>Sort (Down)</strong>
    </button>

    <script>
        (function() {
            const $sortBtn = document.querySelector(".sort-btn");
            init($sortBtn);

            $sortBtn.onclick = (event) => {
                const { target:el } = event;
                const sort = getSortLocalStorage();

                if (sort === DOWN_STREAM) {
                    up(el);

                    const v = document.querySelector("#contents__reservation-list")
                    v.classList.remove("flex-column");
                    v.classList.add("flex-column-reverse");
                } else if (sort === UP_STREAM) {
                    down(el);

                    const v = document.querySelector("#contents__reservation-list")
                    v.classList.remove("flex-column-reverse");
                    v.classList.add("flex-column");
                }

                autoScrollBySort();
            }

            function init(el) {
                const sort = getSortLocalStorage();

                if (sort === DOWN_STREAM) {
                    down(el);
                } else if (sort === UP_STREAM) {
                    up(el);
                }
            }

            function down(el) {
                localStorage.removeItem(SORT_KEY);
                localStorage.setItem(SORT_KEY, DOWN_STREAM);
                el.value = 'down';
                el.textContent='Sort (Down)'
            }

            function up(el) {
                localStorage.removeItem(SORT_KEY);
                localStorage.setItem(SORT_KEY, UP_STREAM);
                el.value = 'up';
                el.textContent='Sort (__Up_)'
            }
        })();

    </script>
</th:block>

</html>