<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<th:block th:fragment="common">
    <script>
        const SORT_KEY = "sanha_room_management_sort";
        const DOWN_STREAM = 'downstream';
        const UP_STREAM = 'upstream';

        const getSortLocalStorage = () => {
            const storage = localStorage.getItem(SORT_KEY);
            if (!storage) {
                localStorage.removeItem(SORT_KEY);
                localStorage.setItem(SORT_KEY, DOWN_STREAM);

                return localStorage.getItem(SORT_KEY);
            } else {
                return storage;
            }
        }

        const autoScrollBySort = () => {
            if (getSortLocalStorage() === UP_STREAM) {
                window.scrollTo({
                    top: document.body.scrollTop,
                    behavior: "smooth"
                });
            } else if (getSortLocalStorage() === DOWN_STREAM) {
                window.scrollTo({
                    top: document.body.scrollHeight,
                    behavior: "smooth"
                });
            }
        }
    </script>
</th:block>

<th:block th:fragment="date">
    <script>

        function dateOnlyFormat(createdAt) {
            let d = new Date(createdAt);
            let mouth = String(d.getMonth() + 1).padStart(2, '0');
            let date = String(d.getDate()).padStart(2, '0');
            let fullDate = `${d.getFullYear()}-${mouth}-${date}`;

            return fullDate;
        }

        function dateFormat(createdAt) {
            let d = new Date(createdAt);
            let mouth = String(d.getMonth() + 1).padStart(2, '0');
            let date = String(d.getDate()).padStart(2, '0');
            let fullDate = `${d.getFullYear()}-${mouth}-${date}`;

            let hours = String(d.getHours()).padStart(2, '0');
            let minutes = String(d.getMinutes()).padStart(2, '0');
            let dateTime = `${fullDate} ${hours}:${minutes}`;

            return dateTime;
        }

        function dateFormat_minute(createdAt) {
            let d = new Date(createdAt);
            let hours = String(d.getHours()).padStart(2, '0');
            let minutes = String(d.getMinutes()).padStart(2, '0');
            let dateTime = `${hours}:${minutes}`;

            return dateTime;
        }
    </script>
</th:block>

</html>